[Unit]
Description=MinIO server
Wants=network-online.target wait-for-dns.service
After=network-online.target wait-for-dns.service

[Container]
Image=docker.io/minio/minio:latest
ContainerName=minio
Exec=server /data
NoNewPrivileges=true
ReadOnly=true
Volume=/var/srv/minio/data:/data:rw,z
Volume=/var/srv/minio/policies:/policies:ro,z
Environment=MINIO_ROOT_USER=%%MINIO_ROOT_USER%%
Environment=MINIO_ROOT_PASSWORD=%%MINIO_ROOT_PASSWORD%%
Environment=MINIO_ADDRESS=:9000
Environment=MINIO_CONSOLE_ADDRESS=:9001
Environment=MINIO_BROWSER_REDIRECT_URL=http://localhost:9001/minio/
LogDriver=journald
AutoUpdate=registry
Network=apps.network
IP=10.89.1.11

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
